<%- include ('./partials/header.ejs') %>

<header>
    <h1>Enquêtes minor Web Design & Development</h1>
</header>

<main>
    <form action="/login-redirect" method="post">
        <fieldset>
            <legend>Vertel iets over jezelf</legend>

            <label for="name">Naam:</label>
            <input type="text" id="name" name="user_name">
            <label for="studentnr">Studentnummer:</label>
            <input type="text" id="studentnr" name="user_studentnr">
        </fieldset>
        <input type="submit"></input>
    </form>
</main>

<%- include ('./partials/footer.ejs') %>